<section class="w-11/12 sm:w-3/5 lg:w-2/5 max-w-xl mx-auto bg-gray-50 p-8 rounded border shadow-lg">
    <h1 class="text-4xl font-semibold text-center text-green-600 mb-6">Login Now</h1>

    <form [formGroup]="LoginForm" (ngSubmit)="submitForm()">
     

        <div class="mb-4">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input formControlName="email" type="email" id="email"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-600  block w-full p-3 shadow-sm">
              
                @if (LoginForm.get('email')?.errors && LoginForm.get('email')?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          <span class="font-medium">Error:</span>
                            <ul class="mt-1.5 list-disc list-inside">

                                @if (LoginForm.get('email')?.getError('required')) {
                                    <li>The email field is required.</li>  
                                } @else if ( LoginForm.get('email')?.getError('email')) {

                                    <li>Please enter a valid email.</li>

                                }
                            
                                
                           
                          </ul>
                        </div>
                      </div>
                }
        </div>

        <div class="mb-4">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input formControlName="password" type="password" id="password"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600  w-full p-3 shadow-sm">
                @if (LoginForm.get('password')?.errors && LoginForm.get('password')?.touched) {
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                          <span class="font-medium">Error:</span>
                            <ul class="mt-1.5 list-disc list-inside">

                                @if (LoginForm.get('password')?.getError('required')) {
                                    <li>The password field is required.</li>  
                                } @else if ( LoginForm.get('password')?.getError('pattern')) {

                                    <li>The password must start with an uppercase letter and be at least 8 characters long.</li>

                                }
                            
                                
                           
                          </ul>
                        </div>
                      </div>
                }
        </div>

      
        <div class="mb-5 text-right">
          <a class="text-green-600" routerLink="/forgot">Forgot Password?</a>
      </div>
      

   
   
       

        @if (msgError) {
            <p class=" text-red-600 text-center font-medium px-2 py-4 "> {{msgError}}  </p>
           }

        @if (isSucess) {
            <p class="text-green-600 text-center font-medium px-2 py-4"> {{isSucess}} </p>
        }



        <button [disabled]="isLoading" type="submit" class="btn-main mx-auto block w-3/4 text-lg py-3">Login

          @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
        </button>

        <p class="text-center mt-4">Don't have an account ? <a routerLink="/register" class="text-green-600 font-medium">Sign Up</a></p>
    
    </form>
</section>
