<section>
    <div class="container mx-auto px-10 py-10 ">
    <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
        <div class="hidden md:block">
            <owl-carousel-o [options]="customMainSlider">
                <ng-template carouselSlide><img src="images/img1.avif" class="w-full h-[300px]"></ng-template>  
                <ng-template carouselSlide><img src="images/img2.avif" class="w-full h-[300px]"></ng-template>  
                <ng-template carouselSlide><img src="images/img3.avif" class="w-full h-[300px]"></ng-template>  
                <ng-template carouselSlide><img src="images/img4.avif" class="w-full h-[300px]"></ng-template>  
                <ng-template carouselSlide><img src="images/img5.avif" class="w-full h-[300px]"></ng-template>  
                <ng-template carouselSlide><img src="images/img6.avif" class="w-full h-[300px]"></ng-template> 

              </owl-carousel-o>
              
      
        </div>

        <div>
            <img src="images/grocery-banner.png" class="w-full h-[150px]">
            <img src="images/grocery-banner-2.jpeg" class="w-full h-[150px]">
        </div>
    </div>
    </div>
</section>



<section>
    <div class="container mx-auto px-10 py-10 ">
    <h2 class="text-4xl pb-4">Popular Categories</h2>
    <owl-carousel-o [options]="customOptions">

    
       @for ( cat of categories ; track cat._id) {

        <ng-template carouselSlide >

            <div>
                <img [src]="cat.image" class="w-full h-[250px]">
                <h3 class="text-green-600"> {{ cat.name }} </h3>
            </div>
          
          </ng-template>

       }
    
    
      </owl-carousel-o>
    </div>
</section>


<section>
    <div class="container mx-auto px-10 py-10">
        <h2 class="text-4xl pb-5 ">Popular Products</h2>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
            @for( prod of products.slice(0,12); track prod.id){
                <div class="card border border-green-500/50 rounded-md overflow-hidden shadow relative group">
                    <div class="cursor-pointer" [routerLink]="['/details', prod.id]">
                        <div class="card-img relative">
                            <img [src]="prod.imageCover" class="w-full h-[250px] object-contain" [alt]="prod.title">
                        </div>
                        <div class="card-body px-2 py-4">
                            <h4 class="text-green-600 text-xs"> {{prod.category.name}} </h4>
                            <h3 class="font-medium"> {{ prod.title.split(" " , 2).join(" ") }} </h3>
                            <div class="flex items-center justify-between">
                                <span> {{prod.price}} EGP</span>
                                <div class="flex items-center">
                                    <i class="fas fa-star text-yellow-300"></i>
                                    <span class="text-gray-500 ml-1">  {{prod.ratingsAverage}} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button (click)="addToWishList(prod.id); $event.stopPropagation()" 
                        class="absolute top-2 right-2 text-red-500 text-2xl">
                        <i class="fas fa-heart"></i>
                    </button>

                    <button (click)="addCartItem( prod.id ); $event.stopPropagation()" 
                        class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block opacity-0 translate-y-5 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-500 ease-in-out">
                        Add To Cart
                    </button>
                </div>
            }
        </div>
    </div>
</section>
