<footer class="bg-gray-100 py-4">
  <div class="container mx-auto px-4 max-w-screen-2xl">
    <h2 class="text-xl font-semibold m-0">Get The FreshCart App</h2>
    <p class="text-gray-600 text-sm mt-2">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <!-- inputs design -->
    <div class="flex items-center gap-4 mt-4">
      <input
        type="text"
        class="w-full px-4 py-2 border border-gray-300 rounded-md text-base"
        placeholder="Email"
      />
      <button class="inline-block px-4 py-2 bg-green-600 text-white rounded-md  focus:outline-none">
        Share App Link
      </button>
      
    </div>

    <hr class="my-8 border-gray-300" />

    <!-- footer payment Details Design -->
    <div class="flex justify-between items-center flex-wrap gap-6">
      <div class="flex items-center gap-3">
        <h3 class="text-sm font-semibold m-0">Payment partners</h3>
        <img src="images/amazon-pay.png" class="w-14" alt="Amazon Pay" />
        <img src="images/American-Express-Color.png" class="w-14" alt="American Express" />
        <img src="images/paypal.png" class="w-14" alt="PayPal" />
        <img src="images/mastercard.webp" class="w-14" alt="Mastercard" />
      </div>

      <div class="flex items-center gap-3">
        <h3 class="text-sm font-semibold m-0">Get Deliveries with FreshCart</h3>
        <img src="images/get-google-play.png" class="w-20" alt="Google Play" />
        <img src="images/get-apple-store.png" class="w-20" alt="Apple Store" />
      </div>
    </div>
  </div>
</footer>
